/*==========================================================================*/
/*                              F O O T E R                                 */
/*==========================================================================*/

footer {
    background-color: #1c5a77;
}

address {
    color: #fff;
    font-size: 14px;
    padding: 20px 15px;
    a {
        color: inherit;
    }
}