/*==========================================================================*/
/*                              H E A D E R                                 */
/*==========================================================================*/

.header {
    &-top {
        padding: 5px 0;
        background: var(--cl-primary);
        .inner {
            display: flex;
            justify-content: space-between;
        }
    }

    &-contact {
        display: flex;
        align-items: center;
        &-tel {
            margin-right: 20px;
            margin-bottom: 0;
            @include text(14px, var(--font-family), 400, var(--cl-white));
        }

        &-btn {
            display: flex;
            li {
                .fab {
                    color: var(--cl-white);
                }
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    &-lang {
        display: flex;
        align-items: center;
        column-gap: 5px;
        li {
            a {
                display: inline-block;
                width: 25px;
            }
        }
    }

    &-mid {
        padding: 5px 0;
        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .search-form {
            .form-group {
                display: flex;
                border-radius: 25px;
                border: 1px solid var(--cl-gray);
                overflow: hidden;
                input, button {
                    border: none;
                    outline: none;
                }
                .search-btn {
                    width: 60px;
                }
            }
        }
    }
    
    &-logo {
        width: 240px;
    }

    &-bottom {
        background: var(--cl-2nd);
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                position: relative;
                padding: 0 20px;
                &:not(:last-child) {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        height: 15px;
                        width: 1px;
                        background: var(--cl-white);
                    }
                }
                a {
                    display: inline-block;
                    padding: 10px 0 6px;
                    @include text(14px, var(--font-family), 700, var(--cl-white));
                    text-transform: uppercase;
                }
            }
        }
    }
}

h1 {
    
}