/*==========================================================================*/
/*                     H O V E R    &    P C    O N L Y                     */
/*==========================================================================*/

@media screen and (min-width: 751px) {
    #lightboxOverlay,
    #lightbox {
        min-width: var(--content-width) !important;
        width: 100% !important;
    }

    .sp {
        display: none !important;
    }

    .sp320, .sp375, .sp425 {
        display: none;
    }

    a:hover {
        text-decoration: none;
    }

    .to-top a:hover {
        opacity: 0.7;
    }

    .idx-main .tutorial .tutorial-item:hover {
        .tutorial-img img{
            transform: scale(1.1);
        }
        .tutorial-btn {
            color: var(--cl-black);
            &::after {
                height: 3px;
                width: 100%;
                background: var(--cl-black);
            }
        }
    }

    .idx-main .news .post-item a:hover {
        .post-item-short {
            color: #1aa0f4;
            font-weight: 500;
        }
    }
    
    /* END screen-min:751px */
}



@media screen and (min-width: 751px) and (max-width: 1500px) {

    /* END screen-min:751px && screen-max:1500px */
}