:root {
    --content-width: 1230px;
    --font-arial: Arial, Helvetica, sans-serif;
    --cl-primary: #0e6287;
    --cl-2nd: #50a5cc;
    --cl-3rd: #0381a1;
    --cl-black: #333333;
    --cl-gray: #dddddd;
    --cl-white: #ffffff;
    --text-line-height: 1.8em;
    --font-family: "Montserrat", sans-serif;
    --body-cl: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
    font-size: 150%;
    -webkit-text-size-adjust: none;
    font-family: var(--font-family);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    border: solid 1px #999999;
    padding: 10px;
}

textarea {
    resize: vertical;
}

::placeholder {
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

a {
    color: var(--color-primary);
    font-family: var(--font-family);
    transition: all 0.2s;
    text-decoration: none;
}

select {
    visibility: visible !important;
}

[href^="tel:"] {
    word-break: keep-all;
    white-space: nowrap;
}

img {
    vertical-align: middle;
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
}

table {
    width: 100%;
}

p {
    margin-bottom: 1.85em;
    line-height: 1.8em;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    border: solid 1px #333;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

/*==========================================================================*/
/*                              G L O B A L                                 */
/*==========================================================================*/

html {
    background: #fff;
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: none;
    color: var(--body-color);
}

#wrapper {
    min-width: var(--content-width);
    margin: 0 auto;
    overflow: hidden;
}

.inner {
    width: var(--content-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
