/*==========================================================================*/
/*                             C O N T E N T                                */
/*==========================================================================*/
.tutorial {
    .tu-visual {
        position: relative;
        display: flex;
        align-items: center;
        padding: 80px 0;
        min-height: 450px;
        background: url(../images/workshop-digital-marketing.jpg) center/cover no-repeat;
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--cl-black);
            opacity: .4;
            z-index: -1;
        }
        &-heading {
            text-align: center;
            font-size: 36px;
            text-transform: uppercase;
            color: var(--cl-white);
        }
        &-desc {
            color: var(--cl-white);
            font-weight: 500;
            font-size: 16px;
        }
    }
    .tu-content {
        padding: 60px 0 60px;
        .inner {
            display: flex; 
            column-gap: 50px;
        }
        &-item {
            flex-basis: calc((100% - 50px) / 2);
        }
    }
    .tu-flow {
        position: relative;
        padding: 80px 0;
        background: url(../images/bg2.jpg) center/cover no-repeat;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top: 30px solid var(--cl-white);
            border-left: 30px solid rgba(0, 0, 0, 0);
            border-right: 30px solid rgba(0, 0, 0, 0);
        }
        &-heading {
            font-size: 32px;
            text-align: center;
            margin-bottom: 30px;
        }
        &-wrap {
            display: flex;
            column-gap: 30px;
        }
        &-item {
            flex: 0 0 calc((100% - 60px) / 3);
            .flow-img {
                display: inline-block;
                margin-bottom: 20px;
            }
            .flow-title {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
    .tu-info {
        position: relative;
        padding: 80px 0;
        background: url(../images/brg-01.jpg) center/cover no-repeat;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top: 30px solid var(--cl-white);
            border-left: 30px solid rgba(0, 0, 0, 0);
            border-right: 30px solid rgba(0, 0, 0, 0);
        }
        &-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 50px;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                &-img {
                    img {
                        height: 135px;
                        object-fit: contain;
                    }
                }
                &-title {
                    font-weight: 700;
                    color: var(--cl-white);
                }
                &-desc {
                    text-align: center;
                    color: var(--cl-white);
                }
            }
        }
    }
    .tu-detail {
        padding: 80px 0;
        &-heading {
            font-size: 32px;
            text-align: center;
            margin-bottom: 30px;
            padding: 40px;
            background: url(../images/bg_content.png) center bottom/800px auto no-repeat;
        }
        &-wrap {
            display: flex;
            column-gap: 20px;
        }
        &-tab {
            flex-grow: 0;
            flex-shrink: 0;
            width: 350px;
            border-right: 1px solid var(--cl-gray);
            .tab-item {
                padding: 15px 0;
                &.active {
                    font-weight: 600;
                    border-bottom: 3px solid var(--cl-primary) !important;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid var(--cl-gray);
                }
            }
        }
        &-content {
            .content-item {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
    }
    .tu-contact {
        padding: 60px 0;
        position: relative;
        background: #f7f7f7;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top: 30px solid var(--cl-white);
            border-left: 30px solid rgba(0, 0, 0, 0);
            border-right: 30px solid rgba(0, 0, 0, 0);
        }
        .contact {
            
            &-wrap {
                margin-bottom: 80px;
                padding: 60px;
                background: var(--cl-white);
                display: flex;
                column-gap: 30px;
            }
            &-info {
                width: 60%;
            }
            &-heading {
                font-size: 24px;
                margin-bottom: 20px;
            }
            &-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px 20px;
                &-item {
                    display: flex;
                    column-gap: 10px;
                    align-items: center;
                    font-size: 14px;
                    img {
                        width: 40px; 
                        object-fit: contain;
                    }
                }
            }
            &-form {
                input {
                    border-color: rgba(0,0,0,.09);
                    background: rgba(0,0,0,.03);
                    margin-bottom: 15px;
                    border-radius: 20px;
                }
                input[type="submit"] {
                    background: var(--cl-2nd);
                    color: var(--cl-white);
                    font-weight: 600;
                    padding: 8px 25px;
                    border: none;
                    text-transform: uppercase;
                } 
                textarea {
                    margin-bottom: 15px;
                    border-color: rgba(0,0,0,.09);
                    background: rgba(0,0,0,.03);
                    border-radius: 20px;
                }
            }
            &-map {
                display: flex;
                column-gap: 40px;
                .item {
                    width: 50%;
                    &-heading {
                        font-size: 20px;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-align: center;
                    }
                    &-map {
                        iframe {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.post {
    &-wrap {
        padding: 40px 0 80px;
        display: grid;
        grid-template-columns: 1fr 280px;
        column-gap: 40px;
    }
    &-main {
        display: flex;
        flex-direction: column;
        .sub {
            margin-bottom: 0;
            font-size: 12px;
            text-transform: uppercase;
            color: var(--cl-primary);
            font-weight: 700;
        }
        .title {
            margin-bottom: 30px;
            padding-bottom: 5px;
            position: relative;
            font-size: 28px;
            color: var(--cl-black);
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 40px;
                height: 3px;
                background: var(--cl-gray);
            }
        }
        .img {
            margin-bottom: 20px;
            position: relative;
            .date {
                padding: 3px 10px;
                display: inline-flex;
                flex-direction: column;
                align-self: center;
                align-items: center;
                background: var(--cl-white);
                border: 2px solid var(--cl-2nd);
                font-size: 14px;
                font-weight: 700;
                color: var(--cl-2nd);
                position: absolute;
                top: 50px;
                left: -10px;
                line-height: 1.25em;
            }
        }
        .short {
            margin-bottom: 30px;
            padding-left: 50px;
            font-style: italic;
            border-left: 2px solid var(--cl-2nd);
            font-style: 18px;
            font-weight: 500;
        }
        .tbl {
            margin-bottom: 50px;
            padding: 30px 30px 30px 50px;
            border-radius: 20px;
            border: 1px solid var(--cl-black);
            background: var(--cl-gray);
            width: fit-content;
            &-title {
                display: inline-block;
                margin-bottom: 10px;
                font-size: 20px;
                text-transform: uppercase;
            }
            .tbl-list {
                list-style-type: decimal;
                li {
                    list-style-type: decimal;
                    font-size: 16px;
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .content {
            margin-bottom: 40px;
            &-ttl {
                font-size: 20px;
                font-weight: 700;
                color: var(--cl-black);
            }
            &-desc {
                margin-bottom: 30px;
            }
        }
        .related-wrap {
            .title {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .related {
                display:  grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 10px;
                &-item {
                    border: 1px solid var(--cl-gray);
                    transition: .4s ease;
                }
                &-title {
                    padding: 10px;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
    &-sub {
        .search-form {
            margin-bottom: 30px;
            .form-group {
                display: flex;
                border: 1px solid var(--cl-gray);
                overflow: hidden;
                input, button {
                    border: none;
                    outline: none;
                }
                .search-btn {
                    background: #fea621;
                    width: 60px;
                }
            }
        }
        .title {
            display: inline-block;
            margin-bottom: 30px;
            padding-bottom: 5px;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            color: var(--cl-black);
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 40px;
                height: 3px;
                background: var(--cl-gray);
            }
        }
        .list-tutorial {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                    border-bottom: 1px solid var(--cl-gray);
                }
                a {
                    display: inline-block;
                    padding: 10px 0;
                    color: var(--cl-2nd);
                    font-size: 18px;
                }
            }
        }
    }
}

.profile {
    .pro-visual {
        position: relative;
        display: flex;
        align-items: center;
        padding: 80px 0;
        min-height: 600px;
        background: url(../images/image3-1.png) center/cover no-repeat;
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--cl-black);
            opacity: .6;
            z-index: -1;
        }
        &-heading {
            text-align: center;
            font-size: 36px;
            text-transform: uppercase;
            color: var(--cl-white);
        }
        &-desc {
            color: var(--cl-white);
            font-weight: 500;
            font-size: 16px;
        }
    }
    .pro-contact {
        padding: 80px 0;
        &-heading {
            font-size: 36px;
            text-align: center;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .pro-list {
            li {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                display: flex;
                column-gap: 5px;
                .ico {
                    display: inline-block;
                    width: 40px;
                    font-weight: 500;
                    i {
                        color: var(--cl-primary) !important;
                        font-size: 22px !important;
                    }
                }
            }
        }
    }

    .pro-member {
        position: relative;
        padding: 80px 0;
        background: url(../images/brg-01.jpg) center/cover no-repeat;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-top: 30px solid var(--cl-white);
            border-left: 30px solid rgba(0, 0, 0, 0);
            border-right: 30px solid rgba(0, 0, 0, 0);
        }
        &-heading {
            margin-bottom: 40px;
            text-align: center;
            font-size: 36px;
            text-transform: uppercase;
            color: var(--cl-white);
        }
        .member-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            li {
                padding: 5px 28px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                min-height: 45px;
                background: var(--cl-2nd);
                border-radius: 20px;
                font-size: 18px;
                font-weight: 600;
                color: var(--cl-white);
            }
        }
    }
}